*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;

}

.row{
    width: 100%;
}

.clearfix::after{
    content: "";
    display: table;
    clear:both;

}

.row::after{
    content: "";
    display: table;
    clear:both;

}

.col{

    width: 50%;
    position: relative;
    padding: 30px 10px;


}

.left{
    float:left;
}


.right{
    float:right;
}

.hero{
    height: 754px;
    margin-bottom: 150px;
    background-color: #B4D0E7;
    ;
}

/* HEADER */


.navbar > img{
    float:left
    
}



a{
    text-decoration: none;
    color: black;
}


.navbar>ul{
    margin: 0 20px;

}



ul.inline-list{
    /* list-style: none; */
    float: left;
    padding: 3.25px 0;

}

ul.inline-list>li{
    display: inline-block ;
    margin: 0 15px;
}

ul.menù_right{
    /* list-style: none; */
    float: right;
    padding: 3.25px 0;

}



.text_right{
    text-align: right;
}

.btn{

    padding: 4.25px 14px;
    background-color: #0061FF;
    font-size: 14px;
    color: white;
    float: right;

}

.fa-arrow-down {
    margin-top: 30px;
    width: 300%;
    font-size: 30px;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;

}






/* MAIN */


.container_hero_text{
    width: 81%;
    padding-top: 60px;
    margin: auto;

}

.container_hero_text>p{
    font-size: 68px;
    font-weight: 700;
    margin:2rem 0rem 1rem
}

.container_hero{
    width: 80%;
    margin: auto;
}

.container_hero_left{
    width: 38%;
    padding-top: 40px;
    float: left;

}

.container_hero_right{
    width: 62%;
    padding-top: 40px;
    margin: auto;
    float:left;

}

.container_hero_right img{
    width: 100%;
    margin: 0 -1rem;
}



.btn_main{
    padding: 7.25px 19px;
    background-color: #0061FF;
    font-size: 15px;
    color: white;
    float: left;
    margin-top: 35px;
    margin-right: 45%;
    font-weight: 500;

}


.container_hero_left span{
    float: left;
    margin: 2% 0;
    font-size: 13px;
    
}

.text_title_hero{
    background-color: white;
    width: 940px;
    margin: 1% auto;


}

.radio_btn{

    margin-top:50px;
    display: inline-block;
    vertical-align: bottom;
}



/* 3 colonne centrali con riquadro */

.container_main{
    width: 936px;
    margin: 2% auto;


}

.center{
    height: 1035px;
    width: 280.8px;
    margin-right: 46px;

    background-color: white;
    border: 1px solid lightgray;
}

.center_last{
    height: 1035px;
    width: 280.8px;
    background-color: white;
    border: 1px solid lightgrey;

}

.rectangle{
    height: 237px;
    width: 100%;
    margin: 55px 0;
    border: 1px solid lightgrey;
    
}

.rectangle p{
    font-size: 15px;
    font-weight: bold;
    float: left;
    margin-left: 25px;
    width: 100%;
}

.rectangle span{
    font-size: 13px;
    float: left;
    margin-left: 25px;
    margin-top: 40px;
}


.rectangle .plans_for{
    text-align: center;
    padding: 1%;
    border-bottom: 1px solid lightgray;
}

.rectangle h2{
    float: left;
}

.rectangle .btn_main{
    padding: 5px 50px;
    float: right;
    margin: 0px;
}

.rectangle_plan 
{
    margin: 25px;
}


.plan_info_one{
    margin-left: 25px;
    margin-top:30px;
    line-height: 40px;
}


.icon{
    width: 10%;
    float: left;
}

.plan_text{
    width: 90%;
    font-size: 13px;
    float: left;
}

.long{
    line-height: 15px;
    margin-top: 13px;
    margin-bottom: 13px

}



.plans_for{
    text-align: center;
    padding: 5%;
    border-bottom: 1px solid lightgray;
}

.plans{
    font-size: 23px;
    font-weight: bold;
    padding-left: 25px;
    padding-top: 10%;
}

.price{
    font-size: 15px;
    font-weight: bold;
    padding-left: 25px;
    padding-top: 20px;
    
}

.plans_specs{
    color: grey;
    font-size: 14px;
    padding-left: 25px;
    padding-top: 10px;


}

.btn_main_plans{
    text-align: center;
    margin-left: 25px;
    width: 85%;
    padding: 7.25px 19px;
    background-color: #0061FF;
    font-size: 14px;
    color: white;
    float: left;
    margin-top: 50px;
}

.center a{
    color: #0061FF;
    text-decoration: underline;
}

.buy{
    float: left;
    font-size: 14px;
    margin-top: 40px;
    margin-left: 30px;
    width: 100%;
}

.section_separator{
    color: grey;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    width: 100%;
}

.plans2{
    margin-top: 40px;
    font-size: 15px;
    font-weight: bold;
    float: left;
    margin-left: 30px;
    width: 100%;

}










/* due colonne sole con img */

.container_main2{
    width: 936px;
    margin: 5% auto;

}

.img_people{
    height: 425px;
    width: 56%;

}

.img_people{
    background-image: url(../img/partner.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.img_text{
    height: 300px;
    width: 44%;
    /* background-color: lightsalmon; */

}

.img_text p:first-child{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 25px;
    margin-left: 30px;
}

.img_text p{
    font-size: 14px;
    margin-left: 30px;
    line-height: 25px;

}

.btn_main_partner{
    padding: 6.25px 16px;;
    background-color: white;
    font-size: 14px;
    color: black;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    border: 1px solid gray;
    
}




/* griglia a 6 */



.container_grid6{
    /* background-color: aquamarine; */
    width: 936px;
    /* height: 840px; */
    margin: 5% auto;
}

.grid_six{
    /* height: 400px; */
    width: 33.3%;
    margin-bottom: 100px;


    
}

.grid_six img{
    width: 277px;
}

.grid_six p{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 25px;
}

.grid_six span{
    font-size: 14px;

}

/* più di 500mila team */

.text_title{
    background-color: white;
    width: 936px;
    margin: 5% auto;
}


.text_title a{
    color: #0061FF;
    text-decoration: underline;
}

.text_title h1{
    font-size: 35px;
    font-weight: 700;

}

.text_title div{
    margin-top: 20px;
    font-size: 15px;
    margin-top: 30px;
}




/* grigia a 4 */

.sponsors{
    background-color: aquamarine;
    height: 400px;
    margin: 10px auto;
}

.grid_four{
    height: 100%;
    width: 25%;
    background-color: pink;

}

.central_line{
    height: 100%;
    width: 50%;
    background-color:#F5F5F5;
    position: relative;

}

.square{
    position: relative;
    height: 50%;
    width: 50%;
    /* background-color: black; */
}

.square img {
    filter: invert(1);
    /* left: 15%; */
    width: 70%;
    position: absolute;
    top: 40%;
    transform: translate(29px, 6px);
}

.designit img{
    filter: invert(1);
    left: 15%;
    width: 70%;
    position: absolute;
    top: 40%;
    transform: translate(10px, 10px);
    
    

}

.square.left.designit{
    background-color: #A2D39B;
    ;
}



.arizona img{
    filter: invert(1);
    left: 15%;
    width: 60%;
    position: absolute;
    top: 30%;
    transform: translate(10px, 10px);

}

.square.left.arizona{
    background-color: #61082B;
}

.topps img{
    filter: invert(1);
    left: 15%;
    width: 60%;
    position: absolute;
    top: 30%;
    transform: translate(10px, 10px);

}

.square.left.topps{
    background-color: #FF1C1C;
}





.square.left.florida{
    background-color: #0093CE;
}

.wordl img{
    filter: invert(1);
    left: 15%;
    width: 60%;
    position: absolute;
    top: 30%;
    transform: translate(10px, 10px);

    
}

.square.left.world{
    background-color: #D5001F;
}

.hearts img{
    filter: invert(1);
    left: 15%;
    width: 60%;
    position: absolute;
    top: 30%;
    transform: translate(10px, 50px);


}

.square.left.hearts{
    background-color: #B4D0E7;
}



.lonely img{
    filter: invert(1);
    left: 15%;
    width: 60%;
    position: absolute;
    top: 30%;
    transform: translate(10px, 10px);

}

.square.left.lonely{
    background-color: #0D2481;
}

.clear img{
    filter: invert(1);
    left: 15%;
    width: 60%;
    position: absolute;
    top: 30%;
    transform: translate(10px, 10px);
}

.square.left.clear{
    background-color: #FFD830;
}



.highlight_sponsor>img{
    width: 141px;
    position: absolute;
    top: 45px;
    left: 100px;
}

.highlight_sponsor>.fa-dash{
    border: 1px solid #995c1f30;
    border-radius: 5px;
    width: 50px;
    position: absolute;
    left: 100px;
    top: 120px;
}

.highlight_sponsor>.sponsor_text{
    position: absolute;
    left: 100px;
    top: 152px;
    font-size: 14px;

}

.boss_sign{
    position: absolute;
    left: 100px;
    top: 297px;
    font-size: 14px;


}


/* .square1{
    height: 50%;
    width: 50%;
    background-color: coral;

} */

/* porta dropbox business */

.levelup{
    padding-top: 110px;
    background-color: #B4D0E7;
    width: 936px;
    margin: 5% auto;
    height: 330px;
    margin: auto;
    color: darkred;
}

.bg-blue{
    background-color: #B4D0E7;
    width: 100%;
}

.levelup section{
    color: #61082B;
    padding-top: 120px;
    /* display: inline-block; */
    /* width: 920px; */
    /* height: 200px; */
    /* margin-left: 260px; */



}

.levelup p{
    float: left;
    font-size: 35px;
    font-weight: 700;
}



.levelup .btn_main  {
    background-color: white;
    color: black;
    float: right;
    margin-top: 5px;
    margin-right: 0;
    padding: 9px 54px;
    font-size: 14px;

}



/* domande frequenti */

.questions{
    /* background-color: rgb(225, 199, 230); */
    width: 920px;
    height: 600px;
    margin: 5% auto;
}


.questions h1{
    font-size: 28px;
    line-height: 50px;
    padding: 32px 0;

}

.questions hr{
    border: 1px solid lightgray;
    border-bottom-width: inherit;
}

.questions p:first-child{
    font-size: 14px;
    line-height: 35px;
    font-weight: 700;
    display: inline-block;
    padding: 22px 0;

}

.questions span{
    float: right;

}

.fa-chevron-down{
    margin-top: 30px;
    margin-right: 30px;
}



/* footer */

#site_footer{
    background-color: black;
}

.footer{
    background-color: black;
    width: 1100px;
    height: 500px;
    margin: 10px auto;
    color:rgb(206, 206, 206);
    
}

.col_footer{
    height: 400px;
    width: 210px;
    margin:0 5px;
    background-color: black;
    position: relative;
}

.col_footer>div{
    margin-top: 95px;
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 900;
}

.col_footer>p{
    font-size: 15px;
    line-height: 30px;

}

.language>.fa-dash{
    border: 1px solid #ffffff59;
    border-radius: 5px;
    width: 94px;
    position: absolute;
    left: 0px;
    top: 376px;
}

.language>.fa-earth-americas{
    position: absolute;
    top:432px;
    left: 0px;
}

.language>span{
    position: absolute;
    top:432px;
    left: 20px;
    font-size: 13px;
    color: grey;

}

.language>.fa-sort-up{
    color: grey;
    position: absolute;
    top:432px;
    left: 50px;
}