*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#site_main{
    background-color: white;
}

.row::after{
    content: "";
    display: table;
    clear:both;

}

.col{
    height: 50px;
    width: 50%;
    max-width: 900px;


}

.left{
    float:left;
    background-color: coral;
}

.right{
    float:right;
    background-color: aquamarine;
}

.hero{
    height: 800px;
    background-color: #B4D0E7;
    ;
}

/* MAIN */

.container_main{
    width: 1100px;
    margin: 10% auto;
    background-color: blueviolet;


}


/* .container_main{
    background-color: aquamarine;
    width: 1100px;
    height: 400px;
    margin: 115px auto;
} */


.main_hero{
    background-color: pink;
    /* display: inline-block; */
}

/* 3 colonne centrali */
.center{
    height: 700px;
    width: 25%;
    margin: 0 45px;

}

/* quandrato sotto le 3 colonne */
.horizontal_text{
    height: 300px;
    width: 91.5%;
    margin: 53px 46px;
    
}

/* due colonne sole con img */

.container_main2{
    background-color: aquamarine;
    width: 1100px;
    height: 400px;
    margin: 115px auto;

}

.img_people{
    height: 400px;
    width: 50%;

}

.img_text{
    height: 400px;
    width: 50%;
    background-color: lightsalmon;

}

/* griglia a 6 */

.text_title{
    background-color: rgb(128, 54, 54);
    width: 1100px;
    height: 200px;
    margin: 0 auto;


}

.container_grid6{
    background-color: aquamarine;
    width: 1100px;
    height: 840px;
    margin: 10px auto;
}

.grid_six{
    height: 400px;
    width: 25%;
    margin: 10px 45.5px;
}

/* grigia a 4 */

.sponsors{
    background-color: aquamarine;
    height: 400px;
    margin: 10px auto;
}

.grid_four{
    height: 100%;
    width: 25%;
    background-color: pink;

}

.central_line{
    height: 100%;
    width: 50%;
    background-color: rgb(206, 206, 206);

}

.square{
    height: 50%;
    width: 50%;
    background-color: black;
}

.square1{
    height: 50%;
    width: 50%;
    background-color: coral;

}

/* domande frequenti */

.questions{
    background-color: rgb(225, 199, 230);
    width: 1100px;
    height: 600px;
    margin: 5% auto;
}


/* footer */

.footer{
    background-color: aquamarine;
    width: 1100px;
    height: 400px;
    margin: 10px auto;
}

.col_footer{
    height: 400px;
    width: 210px;
    margin:0 5px;
    background-color: white;
}